{% extends 'RJMGenemuSandboxBundle::sandbox_layout.html.twig' %}

{% block content %}
    <h1>Welcome to the Genemu Sandbox!</h1>

    <ul>
        <li>
            <a href="{{ path('rjm_genemu_sandbox_jqueryselect2_entity') }}">genemu_jqueryselect2_entity</a> (no AJAX)
        </li>
    </ul>
{% endblock %}